---
:ems:
  :ems_openshift:
    :blacklisted_event_names: []
    :event_handling:
      :event_groups:
:http_proxy:
  :openshift:
    :host:
    :password:
    :port:
    :user:
:ems_refresh:
  :openshift:
    :refresh_interval: 15.minutes
    :inventory_object_refresh: true
    :inventory_collections:
      :saver_strategy: :batch
    :get_container_images: true
    :store_unused_images: true
:workers:
  :worker_base:
    :event_catcher:
      :event_catcher_openshift:
        :poll: 1.seconds
      :event_catcher_prometheus:
        :poll: 20.seconds
    :ems_inventory_collector_worker:
      :ems_inventory_collector_worker_openshift:
        :deleted_notices_only: true
        :disabled: true
        :watch_thread_shutdown_timeout: 10.seconds
    :queue_worker_base:
        :ems_metrics_collector_worker:
          :ems_metrics_collector_worker_openshift: {}
        :ems_refresh_worker:
          :ems_refresh_worker_openshift: {}
